<!DOCTYPE html>
<html ng-app="notesApp">
<head>
<title>AngularJS Practice</title>
<style type="text/css">
	.item{
		padding: 10px;
	}
</style>
<script src="../../../js/angular.min.js"></script>
<script type="text/javascript">
	angular.module('notesApp', [])
		.controller('MainCtrl', ['$http', function($http){
			var self = this;
			
			self.items=[];
			
			$http.get('/api/note').then(function(response){
				self.items = response.data;
			}, function(errResponse){
				console.error('Error while fetching notes ' + errResponse.status);
			}); 
		}]);
</script>
</head>
<body ng-controller="MainCtrl as mainCtrl">
	<h1>Hello Server!</h1>
	<div ng-repeat="todo in mainCtrl.items" class="item">
		<div><span ng-bind="todo.label"></span></div>
		<div>- by <span ng-bind="todo.author"></span></div>	
	</div>
</body>
</html>